body{
  background-color: ECD7D7;

}
.container {
  margin: 50%;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  background-color: rgb(240, 148, 240);
}

.container h1 {
  color: rgb(127, 11, 236);
}

.container input {
  padding: 10px 16px;
  width: 100px;
  border: solid rgb(194, 187, 187) 1px;
  border-radius: 5px;
  font-size: 18px;
}

#userIdInput {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  width: 100px;
}

.container addBtn {
  background-color: rgb(249, 249, 253);
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  padding: 28px 16px;
  font-size: 18px;
  margin-left: 11%;
}

.container #deleteBtn {
  background-color: rgb(182, 28, 148);
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  padding: 12px 16px;
  font-size: 18px;
  margin-left: 2%;
}

.container #addBtn {
  background-color: rgb(88, 88, 146);
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
}

.container .completed {
  text-decoration: line-through;
}

.container #taskList {
  list-style-type: none;
}

.container #successMessage {
  display: none;
  color: green;
  margin-top: 10px;
}






  